@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbars for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cursor-circle {
  position: fixed; /* Make sure the cursor follows the mouse */
  width: 60px; /* Adjust the size of the circle */
  height: 60px;
  border-radius: 50%; /* Make it a circle */
  border: 1px solid #fff; /* Circle border color */
  pointer-events: none; /* Make sure it doesn't interfere with clicks */
  transform: translate(-50%, -50%); /* Center the circle around the cursor */
  transition: ease-out 0.2s; /* Optional: Smooth transition for background color */
  
}

.custom-hover:hover .path-1 {
  color: #387eb8;
  fill: currentColor;
}

.custom-hover:hover .path-2 {
  color: #ffe052;
  fill: currentColor;
}

.custom-hover:hover .path-3 {
  color: #252F3E;
  fill: currentColor;
}

.custom-hover:hover .path-4 {
  color: #FF9900;
  fill: currentColor;
}

